

div(class='center')
  h1 Not Found
  p Sorry! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quo perspiciatis itaque id exercitationem vel?
  hr
  button('(click)'="goBack()") Go back
