include ../includes/header.include.pug

p login form work

h3('(click)'='handleTitleClick()') hhhh

h2(onclick='play()') Click me if you want play

p {{userName}}


//- asdofmasdfffffawefsdf
div
  //-
  //
    Comments for your HTML readers.
    Use as much text as you want.5555555555

include ../includes/footer.include.pug

