<div>
  <h1>Angular Directives</h1>

  <p
    appStyle="blue"
    [dStyle]="{ border: '1px solid blue', fontSize: '18px', padding: '10px' }"
  >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem,
    quam.
  </p>

  <p appStyle="red">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem,
    quam.
  </p>
  <p appStyle="orange" dTxtDecor="underline">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem,
    quam.
  </p>

  <button (click)="handleClick()">Toggle paragraph</button>

  <!-- FIRST CONDITION -->
  <p class="rectangle" *ngIf="isVisible">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, corporis est
    perferendis at quae doloremque?
  </p>

  <!-- The FIRST condition and (===) the SECOND condition equal -->

  <!-- SECOND CONDITION -->
  <!-- ViewContainerRef -->
  <ng-template [ngIf]="isVisible">
    <!-- TemplateRef -->
    <p class="rectangle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, corporis est
      perferendis at quae doloremque?
    </p>
  </ng-template>

  <p class="rectangle" *appIfNot="!isVisible">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, corporis est
    perferendis at quae doloremque?
  </p>
</div>
