router-outlet

//
  Create component list:
  1. Attributes
  2. Case
  3. Code
  4. Comments
  5. Conditionals
  6. Doctype
  7. Filters
  8. Includes
  9. Inheritance: Extends and Block
  10. Interpolation
  11. Iteration
  12. Mixins
  13. Plain Text
  14. Tags