<div class="container">
  <form
    class="card"
    [formGroup]="regForm"
    (ngSubmit)="submit()"
    autocomplete="off"
  >
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="email" placeholder="Email" formControlName="email" />
      <div class="validation" *ngIf="showControlError('email')">
        <small *ngIf="getConrolErrors('email').required">
          Введите email.
        </small>
        <small *ngIf="getConrolErrors('email').email">
          Введите корректный email.
        </small>

        <small *ngIf="getConrolErrors('email').restrictedEmail">
          Данный {{ regForm.get("email").value }} email запрещен.
        </small>

        <small *ngIf="getConrolErrors('email').uniqEmail">
          Email {{ regForm.get("email").value }} занят.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div class="validation" *ngIf="showControlError('password')">
        <small *ngIf="getConrolErrors('password').required">
          Введите пароль.
        </small>
        <small *ngIf="getConrolErrors('password').minlength">
          Пароль должне быть не менее
          {{ getConrolErrors("password").minlength.requiredLength }}. Текущая
          длина пароля {{ getConrolErrors("password").minlength.actualLength }}.
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" />
      </div>

      <button class="btn" type="button" (click)="setCapital()">
        Выбрать столицу
      </button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button" (click)="addSkill()">
        Добавить умение
      </button>
      <div
        *ngFor="let skill of regForm.get('skills').controls; let idx = index"
        class="form-control"
      >
        <label>Навык {{ idx + 1 }}</label>
        <input type="text" [formControlName]="idx" />
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="submitDisabled">
      Отправить
    </button>
  </form>
</div>
