<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle" />
    </div>
    <button class="btn" (click)="handleClickAddTodo()">Добавить</button
    ><button class="btn" (click)="handleClickDownloadTodos()">Загрузить</button>
  </div>
  <hr />
  <ng-template [ngIf]="!errorString" [ngIfElse]="errorBlock">
    <ng-template [ngIf]="!isLoad" [ngIfElse]="loadingBlock">
      <ng-template [ngIf]="todos.length" [ngIfElse]="nothingBlock">
        <div class="card" *ngFor="let todo of todos">
          <p>
            <span [class.completed]="todo.completed">{{
              todo.title | titlecase
            }}</span>
            <span
              ><button
                class="btn btn-danger"
                (click)="handleClickDeleteTodo(todo.id)"
              >
                Удалить</button
              ><button
                class="btn"
                [disabled]="todo.completed"
                (click)="handleClickCompleteTodo(todo.id)"
              >
                Завершить
              </button></span
            >
          </p>
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
  <ng-template #loadingBlock>
    <p>Загрузка...</p>
  </ng-template>

  <ng-template #nothingBlock>
    <p>Ничего нет</p>
  </ng-template>

  <ng-template #errorBlock>
    <p class="error">{{ errorString }}</p>
  </ng-template>
</div>
