<div class="post">
  <h2>post title</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente atque
    repellendus deserunt neque, iusto eum suscipit nam voluptatum molestias
    explicabo expedita ipsa possimus quisquam magnam officia ea ad, impedit
    voluptate.Officiis quos obcaecati magnam repellendus illum animi iste,
    consectetur quae quam ad dignissimos quibusdam et suscipit earum quas
    impedit fugit, voluptatibus aliquid deserunt officia omnis distinctio
    reiciendis. Illum, tenetur magni?
  </p>
</div>
